.mainDev {
  padding-left: 24px;
  padding: 25px;
}

.form-inline {
  display: flex;
  align-items: center;
}

label {
  margin: 0;
}

.coloredHeader {
  color: #8a5ea9;
}

.unChecked {
  opacity: 0.35;
}

.paddingBottom15 {
  padding-bottom: 15px;
}

.sessionDev{
  padding: inherit;
  padding-bottom: 10px;
}

.sessionLabel {
  font-size: x-large;
}

.sessionSpan {
  display: block;
  padding-left: 42px;
}

.totalSpan {
  display: block;
  padding-left: 2px;
}

.sessionNumber{
  font-weight: bold;
}